.navbar .max-width {
    background: #C7FBFF99;
    height: auto;
}

.nav-logo {
    align-items: center;
}

.plans .max-width {
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
}

.plan_main_heading {
    text-align: center;
    font-family: var(--family1);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: var(--main-color);
    padding: 2rem 0;
}

.plans .max-width .planContainer {
    position: relative;
    display: flex;
    gap: 50px;
}

.plansBox {
    width: 30%;
    background: #fff;
    border: 3px solid #34A0A4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.plan_head {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.plan_head span {
    font-weight: bold;
}

.plan_head span span {
    font-size: 30px;
    font-weight: normal;
}

.planBenefits ul {
    display: grid;
    justify-content: center;
    padding: 2rem 3.5rem;
}

.planBenefits ul li {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
}


.p_content {
    position: relative;
    display: grid;
    justify-content: center;
    background: #EDFCFC;
    border-radius: 30px 30px 0 0;
    padding: 2rem 0;
    margin-bottom: 2rem;

}

.planType {
    font-family: var(--family2);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: var(--main-color);
}

.plan1 {
    grid-area: 1 / 1 / 2 / 2;
}

.plan2 {
    grid-area: 1 / 2 / 2 / 3;
}

.plan3 {
    grid-area: 1 / 3 / 2 / 4;
}

.plan4 {
    grid-area: 1 / 4 / 2 / 5;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planRates a {
    display: inline;
    color: #fff;
    font-family: var(--family3);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    padding: 1rem 3.5rem;
    background: #34A0A4;
    box-shadow: 0px 4px 10px 2px rgba(52, 160, 164, 0.8);
    border-radius: 30px;
}

.p_rate {
    font-family: var(--family2);
    color: var(--main-color);
    padding: 2rem 0 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
}

.p_paid span {
    font-family: var(--family2);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.mobilePlanContainer {
    display: none;
}

.planBottom {
    display: none;
}

.recommended {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #F98500;
    padding: 0.2rem 0.5rem;
    color: #fff;
    font-family: var(--family2);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

@media (max-width: 1200px) {
    .plans .max-width .planContainer {
        gap: 10px;
    }

    .p_content img {
        width: 9rem;
    }

    .recommended {
        font-size: 14px;
    }

    .planBenefits ul li {
        font-size: 14px;
        line-height: 24px;
    }

    .planRates a {
        font-size: 16px;
        line-height: 21px;
        padding: 0.7rem 3rem;
    }

    .p_rate {
        padding: 1.5rem 0 1rem;
        font-size: 13px;
        line-height: 30px;
    }


}

@media (max-width: 1024px) {
    .plans .max-width .planContainer {
        display: none;
    }

    .planCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center img {
        width: 2rem;
    }

    .planBottom {
        display: block;
    }

    .mobilePlanContainer {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3fr repeat(20, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .m_heading {
        font-family: var(--family2);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        color: #34A0A4;
        text-align: center;
    }

    .m_sub {
        font-family: var(--family2);
        font-style: normal;
        font-weight: bold;
        color: #34A0A4;
        font-size: 32px;
        line-height: 50px;
        text-align: center;

    }

    .m_last {
        font-family: var(--family2);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: #34A0A4;
        text-align: center;

    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .div4 {
        grid-area: 1 / 4 / 2 / 5;
    }

    .div5 {
        grid-area: 2 / 1 / 3 / 5;
    }

    .div6 {
        position: relative;
        grid-area: 3 / 1 / 4 / 2;
        background: rgba(196, 196, 196, 0.2);
    }

    .planeLine {
        position: relative;
        background: rgba(196, 196, 196, 0.2);

    }

    .planeLine:after {
        content: '';
        width: 1px;
        height: 4rem;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        right: 0;
    }

    .div7 {
        position: relative;

        grid-area: 3 / 2 / 4 / 3;
    }

    .div8 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .div9 {
        position: relative;

        grid-area: 3 / 4 / 4 / 5;
        background: rgba(196, 196, 196, 0.2);

    }

    .div10 {
        grid-area: 4 / 1 / 5 / 5;
    }

    .div11 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .div12 {
        grid-area: 5 / 2 / 6 / 3;
    }

    .div13 {
        grid-area: 5 / 3 / 6 / 4;
    }

    .div14 {
        position: relative;

        grid-area: 5 / 4 / 6 / 5;
        background: rgba(196, 196, 196, 0.2);

    }

    .div15 {
        position: relative;

        grid-area: 6 / 1 / 7 / 5;
    }

    .div16 {
        position: relative;

        grid-area: 7 / 1 / 8 / 2;
    }

    .div17 {
        grid-area: 7 / 2 / 8 / 3;
    }

    .div18 {
        position: relative;

        grid-area: 7 / 3 / 8 / 4;
    }

    .div19 {
        background: rgba(196, 196, 196, 0.2);

        grid-area: 7 / 4 / 8 / 5;
    }

    .div20 {
        grid-area: 8 / 1 / 9 / 5;
    }

    .div21 {
        grid-area: 9 / 1 / 10 / 2;
    }

    .div22 {
        grid-area: 9 / 2 / 10 / 3;
    }

    .div23 {
        grid-area: 9 / 3 / 10 / 4;
    }

    .div24 {
        background: rgba(196, 196, 196, 0.2);

        grid-area: 9 / 4 / 10 / 5;
    }

    .div25 {
        grid-area: 10 / 1 / 11 / 5;
    }

    .div26 {
        grid-area: 11 / 1 / 12 / 2;
    }

    .div27 {
        grid-area: 11 / 2 / 12 / 3;
    }

    .div28 {
        grid-area: 11 / 3 / 12 / 4;
    }

    .div29 {
        background: rgba(196, 196, 196, 0.2);
        grid-area: 11 / 4 / 12 / 5;
    }

    .div30 {
        grid-area: 12 / 1 / 13 / 5;
    }

    .div31 {
        grid-area: 13 / 1 / 14/ 2;
    }

    .div32 {
        grid-area: 13 / 2 / 14 / 3;
    }

    .div33 {
        grid-area: 13 / 3 / 14 / 4;
    }

    .div34 {
        background: rgba(196, 196, 196, 0.2);
        grid-area: 13 / 4 / 14 / 5;
    }

    .div35 {
        grid-area: 14 / 1 / 15 / 5;
    }

    .div36 {
        grid-area: 15 / 1 / 16 / 2;
    }

    .div37 {
        grid-area: 15 / 2 / 16 / 3;
    }

    .div38 {
        grid-area: 15 / 3 / 16 / 4;
    }

    .div39 {
        background: rgba(196, 196, 196, 0.2);
        grid-area: 15 / 4 / 16 / 5;
    }

    .div40 {
        grid-area: 16 / 1 / 17 / 5;
    }

    .div41 {
        grid-area: 17 / 1 / 18 / 2;
    }

    .div42 {
        grid-area: 17 / 2 / 18 / 3;
    }

    .div43 {
        grid-area: 17 / 3 / 18 / 4;
    }

    .div44 {
        background: rgba(196, 196, 196, 0.2);
        grid-area: 17 / 4 / 18 / 5;
    }

    .div45 {
        grid-area: 18 / 1 / 19 / 5;
    }

    .div46 {
        grid-area: 19 / 1 / 20 / 2;
    }

    .div47 {
        grid-area: 19 / 2 / 20 / 3;
    }

    .div48 {
        grid-area: 19 / 3 / 20 / 4;
    }

    .div49 {
        background: rgba(196, 196, 196, 0.2);
        grid-area: 19 / 4 / 20 / 5;
    }

    .div50 {
        grid-area: 20 / 1 / 21 / 5;

    }

    .div51 {
        grid-area: 21 / 1 / 22 / 5;

    }

    .div51 {
        position: fixed;
        bottom: 0;
        background: white;
        width: 90%;
    }

    .mplanButton {
        display: flex;
        justify-content: center;
    }

    .plan_heading {
        text-align: center;
        font-family: var(--family2);
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 35px;
    }

    .m_plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        height: 13rem;
        width: 60%;
        background: #EDFCFC;
        border: 4px solid #34A0A4;
        box-sizing: border-box;
        border-radius: 30px;
    }

    .mcontent {
        text-align: center;
        margin-top: 6rem;
        font-family: var(--family2);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100px;
    }

    .planBottom .max-width {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mcontent span {
        display: block;
    }

    .mplanButton a {
        display: inline-flex;
        flex-direction: column;
        padding: 4rem 14rem;
        background: #34A0A4;
        border: 2px solid #34A0A4;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px 2px rgba(52 160 164 0.8);
        border-radius: 50px;
        color: white;
        font-family: var(--family3);
        text-align: center;
        margin: 5rem 0;
        transition: all 200ms ease-in-out;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 21px;
    }
}