@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Work Sans', sans-serif;*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;
}

*:focus {
    outline: none;
}

:root {
    --main-color: #34A0A4;
    --family1: 'Roboto', sans-serif;
    --family2: 'Open Sans', sans-serif;
    --family3: 'Work Sans', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.navbar .max-width {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.navbar .max-width ul li {
    display: inline-block;
    padding: 3rem 3rem;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-family: var(--family3);
    font-weight: 400;
}

.nav a {
    color: black;
    transition: all 300ms ease-in-out;


}

.nav-btn a {
    border: 2px var(--main-color) solid;
    padding: 1rem 3rem;
    border-radius: 10rem;
    color: var(--main-color);
    transition: all 300ms ease-in-out;
}

.nav a:hover {
    border-bottom: 2px var(--main-color) solid;
}

.nav-btn a:hover {
    background: var(--main-color);
    color: #fff;
}

.nav-logo {
    display: contents;
    align-items: end;
    font-family: var(--family2);
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
}

.nav-logo img {
    padding-left: 2rem;
}

.mobile-navbar {
    display: none;
}

.mobile-btn {
    display: none !important;
}

.background {
    position: absolute;
    background: url("../assets/images/homeBackground.png");
    background-size: 100% 95vh;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.background svg {
    width: 100%;
    height: 80vh;
}

.home .max-width {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.home .max-width .content {
    margin: auto 0;
    width: 50%;
}

.h_video img {
    width: 280px;
}

.h_main_heading {
    font-family: var(--family1);
    color: var(--main-color);
    padding-bottom: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
}

.h_sub_heading {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 8rem;

}

.h_sub_heading span {
    display: block;
}

.h_buttons {
    display: flex;
    margin-bottom: 4rem;
}

.h_knowMore a {
    position: relative;
    border: 2px #6C6C6C solid;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-family: var(--family3);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #6C6C6C;
    transition: all 200ms ease-in-out;
}

.h_knowMore a:hover {
    top: -8%;
    border: 2px var(--main-color) solid;
    color: var(--main-color);

}

.h_register a {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    padding: 0.8rem 5rem;
    background: #34A0A4;
    border: 2px solid #34A0A4;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 2px rgba(52, 160, 164, 0.8);
    border-radius: 30px;
    color: white;
    font-family: var(--family3);
    text-align: center;
    margin-left: 4rem;
    font-weight: 400;
    transition: all 200ms ease-in-out;
    font-size: 14px;
}

.h_register span {
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: var(--family3);
    letter-spacing: 0.03em;
    font-size: 20px;
    line-height: 23px;
}

.h_register a:hover {
    top: -8%;
    box-shadow: 0px 6px 20px 2px rgba(52, 160, 164, 0.8);

}

/*  About US  */

.aboutUs .max-width {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.a_main_heading {
    font-family: var(--family1);
    padding-bottom: 3rem;
    line-height: 59px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.a_sub {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;
    padding-top: 7rem;
    padding-bottom: 8rem;
    color: rgba(0, 0, 0, 0.7);
}

.a_sub span {
    display: block;
}

.a_last {
    font-family: var(--family2);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.menu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a_mLine {
    width: 20rem;
    border-top: 2px solid #34A0A4;
}

.a_lLine {
    margin: 3.5rem;
    width: 15rem;
    border-top: 2px solid #000000;
}


/*  Menu1  */

.menu1 .max-width, .menu2 .max-width, .menu3 .max-width {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr repeat(2, 3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding: 6rem 3rem;
    margin: 1rem 0;
    align-items: center;
}

.menu2 .max-width {
    grid-template-columns:  repeat(2, 3fr) 2fr;

}

.m1Card {
    text-align: center;
    display: grid;
    align-content: center;
    grid-area: 1 / 1 / 2 / 2;
}

.m2Card {
    display: grid;
    justify-items: center;

    grid-area: 1 / 2 / 2 / 3;
}

.m3Card {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    justify-items: center;

}

.m2Card2 {

    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    justify-items: center;

}

.m3Card2 {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    justify-items: center;

}

.m1Card2 {
    text-align: center;
    display: grid;
    align-content: center;
    grid-area: 1 / 3 / 2 / 4;
}

.m2Plan a {
    display: none;
}

.m1Heading {
    font-family: var(--family3);
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #2E3054;
    text-align: center;
}

.m1Heading span {
    display: block;
}

.m1Sub {
    font-family: var(--family2);
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    padding: 2rem 0 4rem 0;

}

.m1Sub span {
    display: block;
}

.m1Plan a {
    position: relative;
    background: #34A0A4;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 2px rgba(52, 160, 164, 0.8);
    border-radius: 30px;
    width: 20rem;
    border: 2px var(--main-color) solid;
    padding: 1.2rem 6rem;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-family: var(--family3);
    line-height: 23px;
    transition: all 200ms ease-in-out;

}

.m1Plan a:hover {
    top: -8%;
    box-shadow: 0px 6px 20px 2px rgba(52, 160, 164, 0.8);

}

.m2Heading {
    font-family: var(--family2);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
    padding: 2rem 0;
    text-align: center;
}

.m2Heading span {
    display: block;
}

.m2Sub {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

/*  Quiz Solution   */
.solution .max-width {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizR {

    width: 60%;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    background: #FCF8ED;
    border-radius: 40px;
    position: relative;
}

.quizR img {
    position: relative;
    bottom: 0;
    height: available;
    width: 15rem;
}

.quizContent {
    margin-bottom: 3rem;
}

.quiz_heading {
    width: 50rem;
    font-family: var(--family1);
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    padding: 4rem 0;
}

.quizBtn a {
    color: #fff;
    padding: 1rem 4rem;
    background: #F98500;
    border: 2px solid #F98500;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 2px rgba(249, 133, 0, 0.8);
    border-radius: 30px;
    font-family: var(--family3);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quizBtn a:hover {
    box-shadow: 0px 6px 15px 2px rgba(249, 133, 0, 0.8);

}

/*  Testimonies     */


.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonies {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(252, 248, 237, 0.6);
}

.testimonies .max-width {
    width: 80%;
    text-align: center;
    color: #F98500;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.t_head {
    font-family: var(--family1);
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    padding: 6rem 0;
}

.t_image img {
    width: 60rem;
    height: auto;
}

.t_imageContent {
    width: 42%;
    padding: 0 1rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.t_topText {
    font-family: var(--family3);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}

.swiper-arrowBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-buttonNext, .swiper-buttonPrev {
    padding: 2rem 1rem;
}

.t_bottomText {
    color: #fff;
    margin-top: 2rem;
    font-family: var(--family3);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

/*      Footer    */
.footer .max-width {
    width: 100%;
    height: 80vh;
    text-align: center;
}

.f_head {
    font-family: var(--family1);
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 80px;
    padding: 5rem 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

}

.footer .max-width img {
    margin: 5rem 0;
}

.f_register span {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 20px;
    line-height: 23px;
    font-family: var(--family3);

}

.f_register a {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding: 0.8rem 5rem;
    border: 2px solid #F98500;
    box-sizing: border-box;

    background: #F98500;
    box-shadow: 0px 4px 10px 2px rgba(249, 133, 0, 0.8);
    border-radius: 30px;
    color: white;
    font-family: var(--family3);
    text-align: center;
    font-weight: 400;
    transition: all 300ms ease-in-out;
    font-size: 14px;

}

.f_register a:hover {
    top: -0.4rem;

    box-shadow: 0px 4px 10px 2px rgba(249, 133, 0, 0.8);

}

.f_contact {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    padding-bottom: 5rem;
}

.f_head span {
    font-weight: 700;
}

/* media queries */
/*320px.*/
/*480px.*/
/*600px.*/
/*768px.*/
/*900px.*/
/*1024px.*/
/*1200px.*/


/*  Register  */
.registration {
    display: none;
}

.registration .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}


.registerContainer {
    z-index: 999;
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.r_navbar {
    padding: 2rem 4rem;
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
}

.r_navbar .r_navText {
    padding-right: 4rem;
}

.r_navbar img {
    width: 27px;
    height: 24px;
}

.r_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r_input {
    width: 80%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-family: var(--family2);
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
}

.r_input input {
    border: 2px solid #BEC8C8;
    border-radius: 20px;
    width: 350px;
    height: 59px;
    font-size: 20px;
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.r_input span {
    color: var(--main-color);
}

.r_submit a {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--family3);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    height: 60px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    background: #34A0A4;
    border-radius: 0px 0px 50px 50px;
}


.r_input {
    position: relative;
}

.r_input span:before {
    content: "*";
    position: relative;
    width: 20px;
    height: 20px;
    top: -25%;
    left: -5%;
    font-family: var(--family2);
    font-style: normal;
    color: #CF2229;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.r_mobile span:before {
    content: "";
}

/*  questions  */
.questions {
    display: none;
}

.questions .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}


.questionContainer {
    overflow: hidden;
    z-index: 999;
    width: 700px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.q_navBar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    margin-left: 2rem;
    margin-top: 2rem;
    font-family: var(--family3);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--main-color);
}

.q_navBar img {
    width: 27px;
    height: 24px;
}

.q_heading {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
}

.q_sub_heading {
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    color: #747373;
}

.q_progressBar {
    background: var(--main-color);
    width: 70px;
    height: 8px;
}

.q_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--family2);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 50px;
    height: 80px;
    border: 1px solid #BEC8C8;
}

.q_tab:hover {
    background: rgba(52, 160, 164, 0.15);
}

.q_next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: rgba(190, 200, 200, 0.4);
    font-family: var(--family3);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    margin-top: 1rem;
    line-height: 33px;
}

.q_tabInput {
    border: 2px solid black;
    padding: 3rem 0 20rem 0;
}

.gridView {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.q_tab1 {
    grid-area: 1 / 1 / 2 / 2;
}

.q_tab2 {
    grid-area: 1 / 2 / 2 / 3;
}

.q_tab3 {
    grid-area: 2 / 1 / 3 / 2;
}

.q_tab4 {
    grid-area: 2 / 2 / 3 / 3;
}

.q_tab5 {
    grid-area: 3 / 1 / 4 / 2;
}

.q_tab6 {
    grid-area: 3 / 2 / 4 / 3;
}

.q_tab7 {
    grid-area: 4 / 1 / 5 / 2;
}

.q_tab8 {
    grid-area: 4 / 2 / 5 / 3;
}

.q_tabInput input {
    width: 173px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    font-family: var(--family2);
}

.Mh_video {
    display: none
}

@media (max-width: 1024px) {

    .nav-logo {
        font-size: 30px;
    }

    .navbar .max-width ul li {
        font-size: 16px;
    }

    .home .max-width .content {
        width: 50%;
    }

    .h_main_heading {
        font-size: 40px;
    }

    .h_sub_heading {
        font-size: 24px;
    }


    .h_knowMore a {
        padding: 1.5rem 5rem;
        font-size: 16px;

    }

    .h_register a {
        padding: 0.5rem 6rem;
    }

    .h_register span {
        font-size: 16px;
    }

    .a_main_heading {
        font-size: 50px;
    }

    .a_sub {
        width: 100%;
        font-size: 30px;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .a_last {
        font-size: 30px;
    }

    /*    media 1*/
    .menu1 .max-width, .menu2 .max-width, .menu3 .max-width {
        height: auto;
    }

    .m1Heading {
        font-size: 48px;
        line-height: 60px;
    }

    .solution .max-width {
        height: 50vh;
    }

    .testimonies {
        height: 75vh;
    }


    .m1Sub {
        font-size: 25px;
        line-height: 45px;
    }

    .m1Sub span {
        display: inline;
    }

    .m1Plan a {
        padding: 0.8rem 3.5rem;
    }

    .m2Heading {
        font-size: 24px;
        line-height: 40px;
    }

    .m2Sub {
        font-size: 20px;
    }

    .mediaImage {
        width: 100%;
    }

    /*    Solution  */
    .quizR {
        width: 70%;
    }

    .t_topText {
        font-size: 13px;
    }

    .t_bottomText {
        font-size: 12px;
    }

    .f_head {
        font-size: 45px;

    }

    .f_register span {
        font-size: 17px;
    }

    .f_register a {
        padding: 0.5rem 5rem;
    }

    .f_contact {
        font-size: 23px;
    }

    .q_navBar {
        font-size: 18px;
        padding: 2rem 3rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }


    .questionContainer {
        width: 565px;
    }

    .q_navBar img {
        width: 24px;
        height: 20px;
    }

    .q_heading {
        padding: 1rem 0 0 0;
        font-size: 27px;
        line-height: 40px;
    }

    .q_sub_heading {
        font-size: 16px;
        line-height: 40px;
    }

    .q_tab {
        height: 70px;
        line-height: 40px;
        font-size: 23px;

    }

    .q_next {
        font-size: 26px;
    }

    .quizR {
        height: auto;
    }
}

@media (max-width: 900px) {
    .h_main_heading {
        font-size: 32px;
        line-height: 50px;
    }

    .h_sub_heading {
        font-size: 20px;
    }

    .h_knowMore a {
        padding: 1.5rem 1.5rem;
    }

    .registerContainer {
        width: 500px;
    }

    .r_navbar {
        margin-top: 0;
        font-size: 24px;
        line-height: 50px;
    }


    .r_input {
        font-size: 15px;
        line-height: 20px;
    }

    .r_input input {
        width: 300px;
        height: 3.2rem;
        border-radius: 10px;
    }

    .r_submit a {
        font-size: 24px;
        line-height: 20px;
    }

    .r_navbar img {
        width: 22px;
        height: 20px;
    }

    .q_navBar {
        font-size: 16px;
        padding: 2rem 3rem 1rem 3rem;
    }

    .q_navBar img {
        width: 22px;
        height: 18px;
    }

    .q_heading {
        font-size: 23px;
        line-height: 26px;
    }


    .q_tab {
        height: 65px;
        line-height: 45px;
        font-size: 20px;
    }

    .q_heading {
        font-size: 25px;
        line-height: 31px;
    }

    .q_next {
        height: 55px;
        font-size: 23px;
    }

    .questionContainer {
        width: 500px;
    }

    .t_image img {
        width: 60%;
    }

    .t_imageContent {
        width: 52%;
    }

    .menu1 .max-width, .menu2 .max-width, .menu3 .max-width {
        grid-template-columns: 3fr repeat(2, 3fr);
    }
}

@media (max-width: 768px) {

    .mobile-btn {
        display: inline-block !important;
    }

    .navbar .max-width {
        position: relative;
    }

    .nav {
        display: none !important;
    }

    .mobile-navbar {
        width: 192px;
        height: 10rem;
        position: absolute;
        bottom: -200%;
        right: 4%;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 0 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
    }

    .mobile-navbar a {
        display: inline-block;
        padding: 1rem 0;
        font-family: var(--family3);
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #000;
    }

    .home .max-width {
        flex-direction: column;
        height: auto;
    }

    .h_video {
        display: none;
    }

    .Mh_video {
        display: block;
        padding: 3rem;
    }

    .Mh_video img {
        width: 30rem;
        height: 20rem;

    }

    .home .max-width .content {
        margin: 6rem 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h_main_heading {
        text-align: center;
    }

    .h_sub_heading {
        font-size: 30px;
        text-align: center;
        margin-bottom: 0rem;
    }

    /* about us */
    .aboutUs .max-width {
        height: auto;
    }

    .a_sub {
        width: 90%;
        font-size: 25px;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .a_main_heading {
        padding-bottom: 1rem;
        font-size: 45px;
    }

    .a_lLine {
        margin: 1rem;
    }

    .a_last {
        font-size: 25px;
    }

    .menu1 .max-width, .menu3 .max-width {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr;
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        height: auto;
        padding: 2rem 3rem;

    }

    .menu2 .max-width {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr;
        grid-column-gap: 0px;
        grid-row-gap: 60px;
        height: auto;
        padding: 2rem 3rem;

    }

    .m1Card {
        display: grid;
        justify-items: center;
        grid-area: 1 / 1 / 2 / 2;
    }

    .m2Card {
        display: grid;
        justify-items: center;
        grid-area: 2 / 1 / 3 / 2;
    }

    .m3Card {
        display: grid;
        justify-items: center;
        grid-area: 3 / 1 / 4 / 2;

    }


    .m2Card2 {
        display: grid;
        justify-items: center;
        grid-area: 3 / 1 / 4 / 2;
    }

    .m3Card2 {
        display: grid;
        justify-items: center;
        grid-area: 2 / 1 / 3 / 2;

    }

    .m1Card2 {
        text-align: center;
        display: grid;
        align-content: center;
        grid-area: 1 / 1 / 2 / 2;
    }

    .m1Plan a {
        display: none;
    }

    .m2Plan {
        display: flex;
        justify-content: center;
    }

    .m1Heading span {
        display: inline;
    }

    .m2Heading {
        display: inline;
    }

    .m2Sub {
        font-size: 18px;
    }

    .m2Plan a {
        margin-top: 2rem;
        display: block;
        position: relative;
        background: #34A0A4;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px 2px rgba(52, 160, 164, 0.8);
        border-radius: 30px;
        width: 20rem;
        border: 2px var(--main-color) solid;
        padding: 1rem 5rem;
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        font-family: var(--family3);
        line-height: 23px;
        transition: all 200ms ease-in-out;
    }

    .m1Heading {
        font-size: 45px;
    }

    .m1Sub {
        font-size: 22px;
        line-height: 30px;
    }

    .mediaImage {
        width: 65%;
    }

    .quizR {
        /*flex-direction: column;*/
        align-items: center;
        text-align: center;
    }

    .quiz_heading {
        font-size: 30px;
        width: 20rem;
    }

    .quizR img {
        /*position: relative;*/
        /*bottom: 0;*/
        /*height: available;*/
        width: 10rem;
    }

    .quizBtn a {
        font-size: 18px;
    }

    .t_head {
        font-size: 45px;
    }

    .f_head {
        font-size: 35px;
        line-height: 50px;
    }

    .f_contact {
        font-size: 18px;
    }

    .testimonies {
        height: 55vh;
    }

    .t_topText {
        font-size: 11px;
    }

    .t_bottomText {
        font-size: 10px;
        margin-top: 1rem;
    }

    .swiper-arrowBox svg {
        width: 30px;
        height: 35px;
    }

    .testimonies .max-width {
        height: 75vh;
    }
}

@media (max-width: 630px) {
    .registerContainer {
        width: 90%;
    }

    .r_input input {
        width: 25rem;
    }
}

@media (max-width: 600px) {
    .nav-logo img {
        width: 35%;
    }

    .questionContainer {
        width: 450px;

    }

    .q_navBar img {
        width: 18px;
        height: 16px;
    }

    .q_navBar {
        font-size: 14px;
    }

    .q_heading {
        font-size: 18px;
        line-height: 25px;
    }

    .q_sub_heading {
        font-size: 12px;
        line-height: 16px;
    }

    .q_tab {
        font-size: 15px;
        line-height: 20px;
        height: 60px;
    }

    .q_progressBar {
        height: 5px;
    }

    .q_next {
        font-size: 18px;
        line-height: 21px;
        height: 50px;
    }

    .nav-btn a {
        padding: 1rem 2rem;
    }

    .navbar .max-width ul li {
        font-size: 15px;
    }

    .nav-logo {
        font-size: 25px;
        line-height: 45px;
    }

    .aboutUs .max-width {
        height: auto;
        padding: 4rem 0;
    }

    .quiz_heading {
        width: 100%;
    }

    .solution .max-width {
        height: auto;
    }

    .f_head {
        font-size: 40px;
    }

    .f_contact {
        font-size: 20px;
    }

    .h_sub_heading {
        font-size: 25px;
    }

    .h_main_heading {
        font-size: 35px;
    }

    .a_main_heading {
        font-size: 38px;
    }

    .a_sub {
        width: 90%;
        font-size: 24px;
        line-height: 40px;
    }

    .a_last {
        font-size: 24px;
    }

    .m1Heading {
        font-size: 35px;
        line-height: 40px;
    }

    .m1Sub {
        font-size: 20px;
        padding: 0 0 2rem 0;
    }

    .quizR {
        height: auto;
        justify-content: end;
    }

    .h_knowMore a {
        font-size: 14px;
        padding: 1.5rem 4.5rem;
    }

    .quiz_heading {
        font-size: 25px;
        line-height: 30px;
        padding: 2rem 0;
    }

    .quizBtn a {
        position: relative;
        top: -30px;
        left: 0;
        transform: none;
    }

    .t_head {
        font-size: 30px;
        line-height: 26px;
    }

    .f_head {
        font-size: 25px;
        line-height: 33px;
    }

    .f_contact {
        font-size: 13px;
        line-height: 18px;
    }

    .f_register span {
        font-size: 14px;
        line-height: 16px;
    }

    .testimonies .max-width {
        height: auto;
    }


}

@media (max-width: 480px) {
    .quizR {
        flex-direction: column;
        /*align-items: center;*/
        /*text-align: center;*/
    }

    /*.nav-logo {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*}*/
    .nav-logo img {
        margin-top: 1.8rem;
        height: 5rem;
        width: 40%;
    }

    .background {
        background: url(../assets/images/MHomeBackground.png);
        height: 82vh;
        background-size: 100% 82vh;
        background-repeat: no-repeat;
        background-position: top;
    }

    .quizR {
        height: 30vh;
        width: 90%;
        top: -10%;
    }

    .m1Heading span {
        display: inline;
    }

    .quizR img {
        height: 24rem;
        width: 10rem;
    }

    .testimonies .max-width {
        top: 60%;
    }

    .quiz_heading {
        padding: 2rem 30px;
        margin-bottom: 1rem;
    }

    .f_head span {
        display: block;
    }

    .q_tabInput input {
        width: 150px;
        height: 45px;
        font-size: 30px;
        text-align: center;
        font-family: var(--family2);
    }

    .solution .max-width {
        height: 55vh;
        align-items: end;
        margin-top: 8rem;
    }

    .q_heading {
        font-size: 17px;
    }

    .q_next {
        font-size: 17px;
        height: 45px;
    }

    .q_sub_heading {
        font-size: 11px;
        line-height: 10px;
        padding: 1rem 0;
    }

    .q_navBar {
        padding: 2rem 2rem 0 2rem;
    }

    .questionContainer {
        width: 80%
    }

    .q_tab {
        height: 55px;
        font-size: 14px;
    }

    .r_input input {
        width: 15rem;
    }

    .nav-logo {
        font-size: 20px;
    }

    .nav-logo img {
        width: 40%;
    }

    .navbar .max-width {
        padding: 0 1rem;
    }

    .navbar .max-width ul li {
        padding: 2.2rem 1rem;
    }

    .mobile-btn img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .nav-btn a {
        padding: 0.5rem 1rem;
        font-size: 12px;
    }

    .h_main_heading {
        font-size: 22px;
        line-height: 30px;
    }

    .h_sub_heading {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 0rem;
        padding: 0 2rem;
    }

    .menu2 .max-width {
        padding: 2rem 1rem;
    }

    .Mh_video {
        display: block;
        padding: 3rem 0;
    }

    .h_buttons {
        display: block;
    }

    .h_register a {
        font-size: 10px;
        line-height: 14px;
        margin-top: 2rem;
        margin-left: 0;
    }

    .h_register span {
        font-size: 14px;
        line-height: 16px;
    }

    .h_knowMore a {
        font-size: 14px;
        line-height: 16px;
    }

    .a_main_heading {
        font-size: 25px;
        line-height: 29px;
    }

    .a_sub {
        font-size: 15px;
        line-height: 25px;
    }

    .a_mLine {
        width: 12rem;
    }

    .a_lLine {
        width: 12rem;
    }

    .a_last {
        font-size: 18px;
        line-height: 25px;
    }

    /*    media */
    .m1Heading {
        font-size: 26px;
        line-height: 30px;
        padding: 0;
    }

    .m1Sub span {
        display: block;
    }

    .m1Sub {
        font-size: 17px;
        line-height: 25px;
        padding: 0.5rem 0 1rem 0;
    }

    .menu1 .max-width, .menu3 .max-width, .menu2 .max-width {
        grid-row-gap: 20px;
    }

    .m2Heading span {
        display: inline;
    }

    .a_sub span {
        display: inline;
    }

    .mediaImage {
        width: 45%;
    }

    .m1Heading span {
        display: inline;
    }

    /*.f_head {*/
    /*    font-size: 35px;*/
    /*}*/
    .m2Heading {
        font-size: 17px;
        line-height: 22px;
        padding: 1rem 0;

    }

    .f_register a {
        font-size: 14px;
        line-height: 16px;
    }

    .m2Sub {
        font-size: 15px;
        line-height: 24px;
    }

    .m2Plan a {
        font-size: 16px;
        line-height: 19px;
        width: auto;
        padding: 1rem 4rem;
    }

    .quizBtn a {
        font-size: 14px;
        line-height: 16px;
    }

    .testimonies {
        /*height: 40vh;*/
        width: 100%;
    }

    .t_image img {
        width: 24rem;
    }

    .t_imageContent {
        width: 60%;
    }

    .footer .max-width img {
        margin: 3rem 0;
    }

    .f_head {
        padding: 5rem 0 2rem 0;
    }

    .t_head {
        font-size: 22px;
        line-height: 26px;
        padding: 3rem 0;
    }

    .r_input input {
        width: 65%;
    }

    .r_navbar {
        padding: 2rem;
    }

    .r_submit a {
        height: 55px;
        font-size: 20px;
    }

    .r_input {
        padding: 1.5rem 0;
    }

    .footer .max-width img {
        width: 20rem;
    }

    .swiper-arrowBox svg {
        width: 25px;
        height: 25px;
    }

    .footer .max-width {
        height: auto;
    }
}

@media (max-width: 400px) {
    .r_navbar {
        font-size: 20px;
        line-height: 50px;
    }

    .r_navbar img {
        width: 20px;
        height: 18px;
    }

    .r_submit {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 1255px) {
    .m1Sub {
        /*font-size: 25px;*/
    }
}